body {
    background: url('../image/image1.jpg') no-repeat center center fixed;
    background-size: cover; /* S'assurer que l'image couvre tout l'écran */
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    color: #fff;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Overlay sombre pour améliorer la lisibilité */
    z-index: 1;
}

nav, .container, footer {
    position: relative;
    z-index: 2;
}

/* Logo et Navigation */
.logo {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    animation: glow 1.5s infinite alternate;
}

.logo span {
    color: #ffa500; /* Couleur d'accentuation pour le texte "folio" */
}

/* Navbar */
.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    position: relative;
    padding: 8px 12px;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    transition: color 0.5s;
}

.navbar a:hover {
    color: #ffa500; /* Couleur d'accentuation */
}

.navbar .active {
    color: #ffa500; /* Couleur d'accentuation pour l'élément actif */
}

/* Container principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    max-width: calc(50% - 20px); /* Moitié de la largeur de la page moins les marges */
    color: #fff;
}

.text h1 {
    font-size: 55px;
}

.text span {
    color: #ffa500; /* Couleur d'accentuation */
}

.text p {
    margin: 10px 0 20px;
}

.btn {
    color: #fff;
    background: #ffa500; /* Bouton avec couleur d'accentuation */
    text-decoration: none;
    padding: 15px 45px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.5s;
}

.btn:hover {
    background: #ff8c00; /* Changement de couleur au survol */
    letter-spacing: 2px;
}

/* Image de présentation */
.image-container {
    margin-left: 20px; /* Espace à gauche de l'image */
}

.cercle {
    width: 200px;
    height: 200px;
    background: #ffa500; /* Cercle avec couleur d'accentuation */
    border-radius: 50%;
    overflow: hidden;
}

.cercle img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Animation pour le logo */
@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #ffa500, 0 0 20px #ffa500;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #ffa500, 0 0 30px #ffa500;
    }
}
