/* Définition de la police principale et des couleurs */
body {
    font-family: 'Georgia', serif;
    color: #333333;
    margin: 0;
    padding: 0;
    background: url('../image/image4.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}

/* Style pour la navigation */
nav {
    background: #ffffff; /* Couleur de fond claire */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav .logo {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
}

nav .navbar {
    text-align: center;
}

nav .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav .navbar ul li {
    margin: 0 15px;
}

nav .navbar ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active {
    background: #4caf50; /* Couleur de survol différente */
    color: #ffffff;
}

/* Style pour le conteneur de contact */
.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent pour le contraste */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 80px; /* Espace pour la barre de navigation fixe */
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.contact-info {
    font-size: 20px;
}

.contact-info p {
    margin-bottom: 15px;
}

.contact-info a {
    color: #4caf50; /* Couleur des liens */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Style pour le footer */
footer {
    text-align: center;
    padding: 20px;
    background: #ffffff; /* Couleur sombre pour contraster avec le fond de page */
    color: #333333;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
